.logoBrand{
    width: 135px !important;
}

.topNav{
    font-size: 21px;
}

.icons{
    color: #525252 !important;
}

.topNav .brand{
    width: 0 !important;
}

.barsIcon{
    margin-left: 170px;
    color: #525252 !important;
    border: 1px solid #525252 !important;
}