.cards{
    height: 135px;
    font-size: 38px;
    font-weight: bold;
}

.boxes{
    width: 25% !important;
    margin-right: 8%;
}

.boxChart{
    border: 1px solid black;
}

.buttonAdd{
    border-color: #10E2FF !important;
}

.buttonAdd:hover{
    color: #525252 !important;
    background-color: #10E2FF !important;
}